<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link rel="stylesheet" href="./css/styles.css">
  </head>
  <body>
    <div class="main">
    {{>header}}
    <img class="portrait" src="./img/weather.jpeg" alt="" />
    <p>My name is Ismael Martinez, and I am passionate about technology and problem-solving. With a strong foundation in web development, I thrive on creating intuitive and functional websites that make a positive impact. I’m always eager to learn new tools and technologies to stay ahead in the fast-paced tech world. Outside of work, I enjoy exploring innovative ideas and continuously improving my skills to tackle new challenges.</p>
    </div>
  {{>footer}}
  </body>
</html>